body{
  background-color: black;
  font-family: "Helvectica", sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* Header */

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
  background-color: black;
  }

.logo {
  display: flex;
  height: 50px;
  flex-grow: 1;
  padding-left: 10px;
  flex-basis: 100px;
}

nav span {
  display: inline-block;
  }

a {
  color: seashell;
  text-decoration: underline;
  }

/* Mission Content*/

.content-1 {
  display: flex;
  margin: auto;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image:
    url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

 .ourmission{
   display: flex;
   background-color: black;
   flex-direction: column;
   align-items: center;
   width: 100%;
   }

   .content-2 {
     display: flex;
     width: 1000px;
     margin: 0 auto;
     flex-direction: column;
     justify-content: center;
     }

/* Tea Menu Items */

.teas {
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea, .tea > h4 {
  margin: 0;
  }

.tea-image {
  height: 200px;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  }

  /* Locations */

  .content-3 {
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    height: 500px;
    background-image:
    url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  }

  .location {
      width: 300px;
      background-color: black;
      margin: 20px;
      padding: 15px;
      opacity: 1;
      }

    .franchise {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
    }
